<div class="container col-md-10 col-sm-9 col-xs-12">
  <div class="jumbotron">
    <h2 class="jumbotron-title">Hint - nobody becomes a slacker overnight</h2>
    <p class="span-list">
      <span class="glyphicon glyphicon glyphicon-ok" aria-hidden="true"></span>
      If you are here, you should probably take a pause from work.
    </p>
    <p class="jumbotron-button">
      <a class="btn btn-primary btn-lg" href="https://www.reddit.com/r/croatia/" role="button">Reddit</a>
      <a class="btn btn-primary btn-lg" href="https://boards.4chan.org/g/catalog" role="button">4Chan</a>
      <a class="btn btn-primary btn-lg" href="https://www.youtube.com/watch?v=3ZUQ7yZTFco" role="button">YouTube</a>
      <a class="btn btn-primary btn-lg" href="http://www.hcl.hr/" role="button">HCL</a>
      <a class="btn btn-primary btn-lg" href="http://www.bug.hr/" role="button">Bug</a>
    </p>
  </div>

  <div class="jumbotron">
    <h2 class="jumbotron-title">Rules for asking</h2>
    <p class="span-list">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Be nice and polite
    </p>
    <p class="span-list">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Make your answers as short as possible
    </p>
    <p class="span-list">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      While waiting for a response, spend some time on reddit
    </p>
    <p class="jumbotron-button"><a class="btn btn-primary btn-lg" routerLink="/ask-question" routerLinkActive="active" role="button">Ask a noble question</a></p>
  </div>

  <div class="jumbotron">
    <h2 class="jumbotron-title">Reputation guide</h2>
    <p class="span-list">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Shorter answer you make, more points you get
    </p>
    <p class="span-list">
      <span class="glyphicon glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
      Avoid giving long explanation
    </p>
    <p class="span-list">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
      Try giving no explanation
    </p>
    <p class="jumbotron-button"><a class="btn btn-primary btn-lg" routerLink="/home" routerLinkActive="active" role="button">Go and get some lazy points</a></p>
  </div>
</div>
