.span-list {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 200;
}

.jumbotron-title {
  margin-bottom: 0.8em;
  margin-top: -0.1em;
}

.jumbotron-button {
  margin-bottom: 0em;
  margin-top: 1em;
}
