<div class="container col-md-10 col-sm-9 col-xs-12">
  <div class="row subheader">
    <h1 id="h-users">Users</h1>
    <div id="tabs" class="btn-group" role="users-sort" aria-label="...">
      <button type="button" class="btn btn-default" title="Sort by reputation">reputation</button>
      <button type="button" class="btn btn-default" title="Sort by age">new users</button>
      <button type="button" class="btn btn-default" title="Sort by voters">voters</button>
    </div>
  </div>
  <div class="img-thumbnail container col-md-2 col-sm-3 col-xs-6" *ngFor="let user of users">
    <a href="javascript:void(0)">
      <img class="img-thumbnail center-block img-responsive" alt="user-image" src="../../assets/slacker-meme.jpg"/>
      <span class="label label-info">{{user.userName}}</span>
      <span>{{user.userReputation}}</span>
    </a>
  </div>
</div>
