<div class="list-group col-md-10 col-sm-9 col-xs-12">
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-group-item">
    <question></question>
  </a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-group-item">
    <question></question>
  </a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-group-item">
    <question></question>
  </a>
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="list-group-item">
    <question></question>
  </a>
</div>
