<div class="btn-toolbar col-md-2 col-sm-3 col-xs-12 toolbar-container" role="toolbar" aria-label="...">
  <button type="button" class="btn btn-lg btn-default btn-block" routerLink="/questions" routerLinkActive="active">
    Questions
  </button>
  <button type="button" class="btn btn-lg btn-default btn-block" routerLink="/tags" routerLinkActive="active">
    Tags
  </button>
  <button type="button" class="btn btn-lg btn-default btn-block" routerLink="/users" routerLinkActive="active">
    Users
  </button>
  <button type="button" class="btn btn-lg btn-default btn-block" routerLink="/ask-question" routerLinkActive="active">
    Ask Question
  </button>
</div>
