menu-panel {
  margin-bottom: 1em;
}

.form-wrapper {
  max-width: 600px;
}

.tag-container {
  margin-bottom: 0.5em;
}

.tag-container > a {
  text-decoration: none;
}

.tag-container > span {
  margin-right: 5px;
}

.confirm-button {
  margin-top: 2rem;
  margin-bottom: 2em;
  width: 74px;
}

.input-label:first-of-type {
  margin-top: 8px;
  margin-left: 8px;
}

.input-label:not(:first-of-type) {
  margin-top: 15px;
  margin-left: 8px;
}

.rating-container {
  float: left;
  margin: 5px;
  padding: 3px;
  width: 50px;
  text-align: center;
  font-size: large;
}

.rating-container > span {
  display: block;
  margin: 0 auto;
}

.text-container {
  display: table;
  vertical-align: top;
  font-size: larger;
  margin: 5px;
}

.rating-tooltip-root {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: -9px;
  margin-top: -18px;
}
