menu-panel {
  margin-bottom: 1em;
}

.tag-container {
  margin-bottom: 0.5em;
}

.tag-container > a {
  text-decoration: none;
}

.tag-container > span {
  margin-right: 5px;
}

.confirm-button {
  margin-left: 10rem;
  margin-top: 2rem;
  width: 74px;
}

.input-label:first-of-type {
  margin-top: 8px;
  margin-left: 8px;
}

.input-label:not(:first-of-type) {
  margin-top: 15px;
  margin-left: 8px;
}
