<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-4 row stats-container">
      <div class="col-xs-4 rating-stat stat">
        <span class="badge">{{rating}}</span>
        <label class="badge-label">rating</label>
      </div>
      <div class="col-xs-4 answers-stat stat">
        <span class="badge">{{answers}}</span>
        <label class="badge-label">answers</label>
      </div>
      <div class="col-xs-4 views-stat stat">
        <span class="badge">{{views}}</span>
        <label class="badge-label">views</label>
      </div>
      <div class="tag-container col-xs-12">
        <a href="javascript:void(0)" *ngFor="let tag of tags">
          <span class="label label-info">{{tag}}</span>
        </a>
      </div>
      <div class="col-sm-12 hidden-xs" id="date-container">
        <span>Submitted: {{date | date:'short'}}</span>
      </div>
    </div>
    <div class="col-sm-6 col-md-9 col-lg-8" style="font-size: larger">
      {{description}}
    </div>
  </div>
</div>
