textarea {
  resize: vertical;
}

.question-container > .panel-heading {
  background-color: #ffff99;
  color: darkslateblue;
}

.question-container {
  background-color: cornflowerblue;
  margin-top: 2em;
}

.answers-container > .panel-heading {
  background-color: ghostwhite;
}

.post-answer-container > .panel-heading {
  background-color: transparent;
  border-bottom-width: 0px;
}

.rating-container {
  float: left;
  margin: 5px;
  padding: 3px;
  width: 50px;
  text-align: center;
  font-size: large;
}

.rating-container > span {
  display: block;
  margin: 0 auto;
}

.text-container {
  display: table;
  vertical-align: top;
  font-size: larger;
  margin: 5px;
}

.glyphicon-alert {
  color: #ff6846;
}

.buttons {
  float: right;
}
