<div class="col-md-10 col-sm-9 col-xs-12">
  <div class="question-container panel panel-default">
    <div class="panel panel-heading">
      <h3>{{question?.title}}</h3>
    </div>
    <div class="panel panel-body">
      <div class="rating-container">
        <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-triangle-top" (click)="rateQuestion(1)"  style="vertical-align: middle">
            <span class="rating-tooltip-root" tooltip="You're not logged in!" *ngIf="!authGuardService.isLoggedIn()"></span>
          </span>
        </a>
        <span>{{question?.rating}}</span>
        <a href="javascript:void(0)">
          <span class="glyphicon glyphicon-triangle-bottom" (click)="rateQuestion(-1)" style="vertical-align: baseline">
            <span class="rating-tooltip-root" tooltip="You're not logged in!" *ngIf="!authGuardService.isLoggedIn()"></span>
          </span>
        </a>
      </div>
      <div class="text-container">
      <span>{{question?.description}}</span>
      </div>
    </div>
  </div>

  <div class="answers-container panel panel-default">
    <div class="panel panel-heading">
      <h4>{{question?.answersCount}} answers</h4>
    </div>
    <div class="panel-body">
      <div class="alert alert-info" *ngIf="!(question?.answersCount > 0)" role="alert">There are still no answers to this question. Please contribute if you can.</div>
      <div class="answer-container panel panel-body" *ngFor="let answer of answers">
        <app-answer [answer]="answer"></app-answer>
      </div>
    </div>
    <div class="post-answer-container panel panel-default">
      <div class="panel panel-heading">
        <h4>Post your answer</h4>
      </div>
      <div class="panel panel-body">
        <div>
          <span id="answer-warning" *ngIf="answerWarn" tooltip="Answer is too short!" placement="left">
            <i class="glyphicon glyphicon-alert"></i>
          </span>
        </div>
        <div class="form-group">
          <textarea title="Answer text" class="form-control" rows="3" #inputAnswer (focus)="removeAnswerWarn()"></textarea>
        </div>
        <div class="panel-group" *ngIf="!authGuardService.isLoggedIn()">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5 *ngIf="isCollapsed" (click)="isCollapsed = !isCollapsed"><a href="javascript:void(0)">You have to be logged in to post answers!</a></h5>
              <ul class="nav nav-tabs" *ngIf="!isCollapsed">
                <li role="presentation" [ngClass]="{'active' : showLogIn}"><a href="javascript:void(0)" (click)="logInSignUpSwitch()">Log in</a></li>
                <li role="presentation" [ngClass]="{'active' : showSignUp}"><a href="javascript:void(0)" (click)="logInSignUpSwitch()">Sign up</a></li>
              </ul>
            </div>
            <div id="ls-form" class="panel-collapse collapse" [collapse]="isCollapsed">
              <div class="panel-body">
                <app-log-in *ngIf="showLogIn"></app-log-in>
                <app-sign-up *ngIf="showSignUp"></app-sign-up>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons" *ngIf="authGuardService.isLoggedIn()">
          <button type="submit" class="btn btn-primary" (click)="onSubmit(inputAnswer)">Submit Answer</button>
        </div>
      </div>
    </div>
  </div>
</div>
