<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-md-3 col-lg-4 row stats-container">
      <div class="col-xs-4 rating-stat" style="background-color: skyblue">
        <span class="badge">7</span>
        <label class="badge-label">rating</label>
      </div>
      <div class="col-xs-4 answers-stat" style="background-color: palegreen">
        <span class="badge">3</span>
        <label class="badge-label">answers</label>
      </div>
      <div class="col-xs-4 views-stat" style="background-color: navajowhite">
        <span class="badge">46</span>
        <label class="badge-label">views</label>
      </div>
      <div class="tag-container">
        <a href="javascript:void(0)">
          <span class="label label-info">Tag1</span>
          <span class="label label-info">Tag2</span>
          <span class="label label-info">Tag3</span>
          <span class="label label-info">Tag4</span>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-9 col-lg-8" style="font-size: larger">
      Lorem ipsum dolor sit amet, interdum nulla, nec quam, feugiat nisl.
      Ac lacinia, a in. Penatibus sit suscipit, vel nam. Et praesent parturient, pharetra nunc mauris. Id arcu.
    </div>
    <!--TODO: show question tags and ask time - maybe under the stats (there is unused space anyway)-->
  </div>
</div>
