<div class="container col-md-6 col-sm-9 col-xs-12 form-wrapper">
  <h3>Sign Up</h3>

  <label class="input-label input-form"> Username</label>
  <div class="input-group input-form">
    <input #inputUsername type="text" class="form-control" placeholder="Johnny Stulic"
           (focus)="hideUsernameWarn()">
    <span *ngIf="usernameWarn" class="input-group-addon"
          tooltip="Username is too short!" placement="right">
      <i class="glyphicon glyphicon-alert"></i>
    </span>
  </div>

  <label class="input-label input-form"> Password</label>
  <div class="input-group input-form">
    <input #inputPassword type="password" class="form-control" placeholder="********"
           (focus)="hidePasswardWarn()">
    <span *ngIf="passwordWarn" class="input-group-addon"
          tooltip="Password is too short!" placement="right">
      <i class="glyphicon glyphicon-alert"></i>
    </span>
  </div>

  <label class="input-label input-form"> Email</label>
  <div class="input-group input-form">
    <input #inputEmail type="email" class="form-control" placeholder="johnny@email.org"
           (focus)="hideEmailWarn()">
    <span *ngIf="emailWarn" class="input-group-addon"
          tooltip="Email is invalid or too short!" placement="right">
      <i class="glyphicon glyphicon-alert"></i>
    </span>
  </div>

  <div class="input-group button-wrapper">
      <button (click)="signup(inputUsername, inputPassword, inputEmail)" type="submit" class="btn btn-primary confirm-button">Sign up</button>
  </div>
  <div *ngIf="failedSignupWarn" class="alert alert-danger failedSignup" role="alert">
    <strong>Signup Failed!</strong> Username or email already taken.
  </div>
</div>
<div class="container col-md-2 col-sm-2 col-xs-0"></div>
