<menu-panel></menu-panel>
<div class="container col-md-2 col-sm-1 col-xs-0"></div>
<div class="container col-md-4 col-sm-4 col-xs-2">
  <h3>Sign Up</h3>

  <label class="input-label" for="basic-url"> Username</label>
  <div class="input-group">
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="Johnny Stulic">
  </div>

  <label class="input-label" for="basic-url"> Password</label>
  <div class="input-group">
    <input type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="********">
  </div>

  <label class="input-label" for="basic-url"> Email</label>
  <div class="input-group">
    <input type="email" class="form-control" id="basic-url" aria-describedby="basic-addon3" placeholder="johnny@email.org">
  </div>

  <div class="input-group">
      <button type="submit" class="btn btn-primary confirm-button">Sign up</button>
  </div>
</div>
