#navbar {
  display: block;
  overflow: hidden;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.search-results-container {
  width: 100%;
  height: 100px;
  position: absolute;
  display: inline-block;
  margin-top: 35px;
}
